@model WebApplication1.Models.AddDept
@{
    ViewData["Title"] = "AddDept";
}
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Department Name</label>
        <input type="text" asp-for="department.DepartmentName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
       
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <select asp-for="department.OrganizationId" class="form-control" asp-items="ViewBag.ProductCategory">
            <option>choose options...</option>
            @foreach (var item in Model.organization)
            {
                <option value="@item.OrganizationId">@item.OrganizationName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>